<!DOCTYPE html>
<html>
<head>
  <title>主页</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
    <div class="menu">
        <%= link_to "主页", hopes_url%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.itcast.cn/video">张老师教学视频</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://blog.csdn.net/zhangxiaoxiang/">关于张老师</a>
    </div>

    <div class="main">
        <%= yield %>
    </div>

</div>

<div class="backlight">
    <%= image_tag "light.jpg"%>
</div>

</body>
</html>
